<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cpwz.stockInOut.mapper.ChenMaterialOutDetailMapper">
    
    <resultMap type="ChenMaterialOutDetail" id="ChenMaterialOutDetailResult">
        <result property="outDetailId"    column="out_detail_id"    />
        <result property="infoId"    column="info_id"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialModel"    column="material_model"    />
        <result property="outMainCode"    column="out_main_code"    />
        <result property="stockId"    column="stock_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="outNum"    column="out_num"    />
        <result property="price"    column="price"    />
        <result property="totalPrice"    column="total_price"    />
        <result property="carriage"    column="carriage"    />
        <result property="unit"    column="unit"    />
        <result property="lowPrice"    column="low_price"    />
        <result property="stockNumber"    column="stock_number"    />
    </resultMap>

    <sql id="selectChenMaterialOutDetailVo">
        select od.out_detail_id, od.info_id, od.out_main_code, csi.stock_id, od.create_time, od.out_num, od.price,
         od.total_price, od.carriage,mi.unit,csi.low_price,csi.stock_number,mi.material_name,mi.material_model
         from chen_material_out_detail od
         left join chen_stock_info csi on od.info_id = csi.info_id
         left join chen_material_info mi on csi.material_id = mi.material_id
    </sql>

    <select id="selectChenMaterialOutDetailList" parameterType="ChenMaterialOutDetail" resultMap="ChenMaterialOutDetailResult">
        <include refid="selectChenMaterialOutDetailVo"/>
        <where>  
            <if test="infoId != null "> and info_id = #{infoId}</if>
            <if test="outMainCode != null  and outMainCode != ''"> and out_main_code = #{outMainCode}</if>
            <if test="stockId != null "> and stock_id = #{stockId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="outNum != null "> and out_num = #{outNum}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="totalPrice != null "> and total_price = #{totalPrice}</if>
            <if test="carriage != null "> and carriage = #{carriage}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
        </where>
    </select>
    
    <select id="selectChenMaterialOutDetailById" parameterType="Long" resultMap="ChenMaterialOutDetailResult">
        <include refid="selectChenMaterialOutDetailVo"/>
        where out_detail_id = #{outDetailId}
    </select>
        
    <insert id="insertChenMaterialOutDetail" parameterType="ChenMaterialOutDetail" useGeneratedKeys="true" keyProperty="outDetailId">
        insert into chen_material_out_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="infoId != null ">info_id,</if>
            <if test="outMainCode != null  and outMainCode != ''">out_main_code,</if>
            <if test="stockId != null ">stock_id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="outNum != null ">out_num,</if>
            <if test="price != null ">price,</if>
            <if test="totalPrice != null ">total_price,</if>
            <if test="carriage != null ">carriage,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="infoId != null ">#{infoId},</if>
            <if test="outMainCode != null  and outMainCode != ''">#{outMainCode},</if>
            <if test="stockId != null ">#{stockId},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="outNum != null ">#{outNum},</if>
            <if test="price != null ">#{price},</if>
            <if test="totalPrice != null ">#{totalPrice},</if>
            <if test="carriage != null ">#{carriage},</if>
         </trim>
    </insert>

    <update id="updateChenMaterialOutDetail" parameterType="ChenMaterialOutDetail">
        update chen_material_out_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="infoId != null ">info_id = #{infoId},</if>
            <if test="outMainCode != null  and outMainCode != ''">out_main_code = #{outMainCode},</if>
            <if test="stockId != null ">stock_id = #{stockId},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="outNum != null ">out_num = #{outNum},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="totalPrice != null ">total_price = #{totalPrice},</if>
            <if test="carriage != null ">carriage = #{carriage},</if>

        </trim>
        where out_detail_id = #{outDetailId}
    </update>

    <delete id="deleteChenMaterialOutDetailById" parameterType="Long">
        delete from chen_material_out_detail where out_detail_id = #{outDetailId}
    </delete>

    <delete id="deleteChenMaterialOutDetailByIds" parameterType="String">
        delete from chen_material_out_detail where out_detail_id in 
        <foreach item="outDetailId" collection="array" open="(" separator="," close=")">
            #{outDetailId}
        </foreach>
    </delete>
    <update id="updateCarriageByOutMainCode">
        update chen_material_out_detail
        <trim prefix="SET">
            <if test="carriage != null ">carriage = #{carriage}</if>
        </trim>
        where out_main_code = #{outMainCode}
    </update>
    <select id="selectChenMaterialOutDetailByOutMainCode" parameterType="String" resultType="Integer">
        select count(t.out_detail_id) from chen_material_out_detail t
        where out_main_code = #{outMainCode}
    </select>
</mapper>