<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商品编码：</label>
                                <input type="text" name="materialCode"/>
                            </li>
                            <li>
                                <label>商品名称：</label>
                                <input type="text" name="materialName"/>
                            </li>
                            <li>
                                <label>规格型号：</label>
                                <input type="text" name="materialModel"/>
                            </li>
                            <li class="select-time">
                                <label>创建时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreatTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreatTime]"/>
                            </li>
<!--                            <li>-->
<!--                                <label>计量单位：</label>-->
<!--                                <select name="unit" th:with="type=${@dict.getType('pcs_unit')}">-->
<!--                                    <option value="">所有</option>-->
<!--                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                                </select>-->
<!--                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="cpwz:info:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="cpwz:info:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="cpwz:info:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="cpwz:info:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('cpwz:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('cpwz:info:remove')}]];
        var unitDatas = [[${@dict.getType('pcs_unit')}]];
        var stockDatas = [[${@dict.getType('stock_info')}]];
        var typeDatas = [[${typeList}]];
        var prefix = ctx + "cpwz/info";

        $(function() {
            var options = {
                url: prefix + "/list/{id}",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "商品信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'materialId', 
                    title: 'id',
                    visible: false
                },
                {
                    field: 'materialCode', 
                    title: '商品编码'
                },
                {
                    field: 'materialName', 
                    title: '商品名称'
                },
                {
                    field: 'typeId', 
                    title: '商品类型',
                    formatter: function(value, row, index) {
                        var typeName ="";
                        for (var i in typeDatas){
                            if (row.typeId == typeDatas[i].typeId){
                                typeName = typeDatas[i].typeName;
                                return typeName;
                            }
                        }
                    }
                },
                {
                    field: 'materialModel', 
                    title: '规格型号'
                },
                {
                    field: 'remark', 
                    title: '备注'
                },
                {
                    field: 'creatTime', 
                    title: '创建时间'
                },
                {
                    field: 'unit', 
                    title: '计量单位',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(unitDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.materialId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.materialId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>