<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('出库信息列表')"/>
    <script th:src="@{/ruoyi/js/DateFormat.js?v=4.2.0}"></script>
    <th:block th:include="include :: bootstrap-editable-css"/>
</head>
<style>
    label {
        width: 100px !important;
    }

    input[readonly] {
        background-color: #eee;
        opacity: 1;
    }
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="myForm">
                <div class="select-list">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <label>出库单编码：</label>
                                    <input class="form-control input-lg" type="text" name="outMainCode" readonly
                                           th:value="${outMainCode}" id="outMainCode"/>
                                </li>
                                <li>
                                    <label>创建时间：</label>
                                    <input type="text" id="createTime" class="form-control input-lg"
                                           readonly/>
                                </li>

                                <li>
                                    <label>本单合计：</label>
                                    <input type="text" id="mainTotal" name="totalPrice"
                                           class="form-control input-lg" readonly/>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li>
                                    <label>客户：</label>
                                    <select name="userId" id="userId">
                                        <option>无</option>
                                        <option th:each="SysUser : ${userList}" th:text="${SysUser.userName}"
                                                th:value="${SysUser.userId}"></option>
                                    </select>
                                </li>
                                <li>
                                    <label>运费：</label>
                                    <input type="text" name="carriage" id="carriage" value="0"/>
                                </li>
                                <li>
                                    <label>本单利润：</label>
                                    <input type="text" id="totalProfit" name="totalProfit"
                                           class="form-control input-lg" readonly/>
                                </li>
                                <li>
                                    <a class="btn btn-primary btn-rounded btn-sm" onclick="saveOutMain()"><i
                                            class="fa fa-search"></i>&nbsp;立即出库</a>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="add()" shiro:hasPermission="cpwz:stockOutMain:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="cpwz:stockOutMain:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-table-editable-js"/>
<script th:inline="javascript">
    var removeFlag = [[${@permission.hasPermi('cpwz:stockOutDetail:remove')}]];
    var prefix = ctx + "cpwz/stockOutMain";
    var stockIdDatas = [[${@dict.getType('stock_info')}]];
    var unitDatas = [[${@dict.getType('pcs_unit')}]];
    $("#myForm").validate({
        focusCleanup: true
    });

    //立即出库
    function saveOutMain() {
        $.modal.confirm("确定提交入库单吗？提交后不可修改删除哦！请仔细检查", function() {
            //保存明细表并计算库存
            var tableData = $("#" + table.options.id).bootstrapTable('getData');
            //验证表格是否填写了单价和数量
            for (var i in tableData) {
                var price = tableData[i].price;
                var outNum = tableData[i].outNum;
                if (price == 0 || outNum == 0) {
                    $.modal.alertError("请填写单价和出库数量！");
                    return;
                }
            }
            if (tableData.length <= 0) {
                $.modal.alertError("没有添加出库信息不能出库！");
                return;
            } else {
                var saveToStockInfo = true;
                var outMainData = $.common.formToJSON("myForm");
                if ($.validate.form()) {
                    saveTableAndCalculateProfitAndToalPrice(tableData, saveToStockInfo, JSON.stringify(outMainData));
                }
            }

        });
    }

    //添加商品明细
    function add() {
        //拿到当前已添加的商品id
        var tableData = $("#" + table.options.id).bootstrapTable('getData');
        var ids = [];
        if (tableData.length === 0) {
            ids.push("null")
        } else {
            for (var i in tableData) {
                ids.push(tableData[i].infoId);
            }
        }
        $.modal.openFull("添加入库明细", prefix + "/add/" + ids);
    }

    //运费改变时重新计算表格内的运费
    $("#carriage").change(function () {
        //获取表格的行数，若不为0就进行更新
        var carriage = parseFloat($("#carriage").val());
        var tableData = $("#" + table.options.id).bootstrapTable('getData');
        var data = {outMainCode: [[${outMainCode}]], carriage: carriage};
        if (tableData.length <= 0) {
            return;
        } else {
            $.get(prefix + '/updateCarriage', data, function () {
                $.table.refresh();
                //本单利润 = 当前利润-运费
                var profit = parseFloat($("#totalProfit").val());
                $("#totalProfit").val(Math.round((profit - carriage) * 100) / 100);
            });
        }
    });

    //更新本单总利润和本单合计
    function updateTotalPriceAndTaxPrice(caculate) {
        //本单合计
        $("#mainTotal").val(caculate.totalPrice);
        $("#totalProfit").val(caculate.profitPrice);
    }

    //保存表格信息已经计算税费和本单合计及每条运费
    function saveTableAndCalculateProfitAndToalPrice(tableData, saveToStockInfo, outMainData) {
        var carriage = $("#carriage").val();
        var data = {
            "tableData": JSON.stringify(tableData),
            "carriage": carriage,
            "saveToStockInfo": saveToStockInfo
        };
        //如果是立即出库加上主单数据一起传
        if (saveToStockInfo) {
            data.outMainData = outMainData;
        }
        var url = prefix + "/editDetail";
        var config = {
            url: url,
            type: "post",
            dataType: "json",
            data: data,
            beforeSend: function () {
                $.modal.loading("正在处理中，请稍后...");
                $.modal.disable();
            },
            success: function (result) {
                if (typeof callback == "function") {
                    callback(result);
                }
                $.modal.close();

                $.modal.closeLoading();
                // $.modal.disable();
                //刷新表格
                $.table.refresh();
                updateTotalPriceAndTaxPrice(result.calculate);
                if (saveToStockInfo) {
                    $.modal.msgSuccess(result.ajaxResult.msg);
                    //将form设为禁用
                    $('#myForm').find('input,textarea').attr('readonly', true);
                    $("#userId").attr("disabled", true);
                    $("a[class*=btn]").addClass("layer-disabled");
                    //所有点击失效
                    document.addEventListener('click', function (e) {
                        e.stopPropagation();
                        e.preventDefault();
                    }, true);

                }
            }
        };
        $.ajax(config);
    }

    $(function () {
        //系统时间填入创建时间
        $("#createTime").val(new Date().Format("yyyy-MM-dd HH:mm:ss"));
        // var mainTotal = 0;
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "出库明细",
            uniqueId: "outDetailId",
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
            },
                {
                    field: 'outDetailId',
                    title: 'outDetailId',
                    visible: false
                },
                {
                    field: 'outMainCode',
                    title: '出库单编码',
                    visible: false
                },
                {
                    field: 'materialId',
                    title: '商品id',
                    visible: false
                },
                {
                    field: 'materialName',
                    title: '商品名称'
                }, {
                    field: 'materialModel',
                    title: '规格型号'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'stockId',
                    title: '仓库',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(stockIdDatas, value);
                    }
                },
                {
                    field: 'stockNumber',
                    title: '库存数量'
                },
                {
                    field: 'outNum',
                    title: '出库数量',
                    editable: {
                        type: 'text',
                        title: '出库数量',
                        emptytext: 0,
                        validate: function (v) {

                            if (isNaN(v)) return '出库数量必须是数字';
                            var inNum = parseInt(v);
                            if (inNum <= 0) return '出库数量必须是正整数';
                        }
                    }
                },
                {
                    field: 'price',
                    title: '单价',
                    editable: {
                        type: 'text',
                        title: '单价',
                        emptytext: 0,
                        validate: function (v) {
                            if (isNaN(v)) return '单价必须是数字';
                            var price = parseInt(v);
                            if (price <= 0) return '单价必须是正整数';
                        }
                    }
                },
                {
                    field: 'lowPrice',
                    title: '最低售价'
                },
                {
                    field: 'totalPrice',
                    title: '总价',
                    formatter: function (value, row, index) {

                        return Number(value).toFixed(2);
                    }
                },
                {
                    field: 'carriage',
                    title: '运费',
                    formatter: function (value, row, index) {
                        return Number(value).toFixed(2);

                    }
                },
                {
                    field: 'unit',
                    title:
                        '计量单位',
                    formatter:
                        function (value, row, index) {
                            return $.table.selectDictLabel(unitDatas, value);
                        }
                }
                ,
                {
                    title: '操作',
                    align:
                        'center',
                    formatter:

                        function (value, row, index) {
                            var actions = [];
                            // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.inDetailId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.outDetailId + '\')"><i class="fa fa-remove"></i>删除</a>');
                            return actions.join('');
                        }
                }
            ]
        };
        $.table.init(options);

        //行内编辑保存
        function onEditableSave(field, row, oldValue, $el) {
            var index = $el[0].parentNode.parentNode.getAttribute('data-index');
            // $table.bootstrapTable('updateRow', {index: index, row: row}).
            // $("#" + table.options.id).bootstrapTable('updateCell', {index: index, field: 'totalPrice', value: ''});
            var stockNumber = parseInt(row.stockNumber);
            var outNum = parseInt(row.outNum);
            if (stockNumber < outNum) {
                $.modal.msgError("出库数量不能大于库存数量");
                row.outNum = 0;
            }
            $("#" + table.options.id).bootstrapTable('updateRow', {index: index, row: row});
            var tableData = new Array();
            tableData.push(row);

            saveTableAndCalculateProfitAndToalPrice(tableData, false);
        }
    })
    ;
</script>
</body>
</html>